#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form{
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.form-group{
  margin: 5px;
  padding: 10px;
}

button{
  margin-top: 2rem;
}

div{
  align-items: left;
}